* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAV BAR */
.navbar {
 background-color: #3b3f55; /* dark blue-grey */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar li {
  margin-right: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.navbar li i {
  margin-right: 8px;
  font-size: 14px;
}

/* .navbar .fa-caret-down {
  margin-left: 6px;
  font-size: 12px;
} */

.nav-right li {
  margin-right: 0;
}

/* Hover effect */
.navbar li:hover {
  opacity: 0.8;
}

/* NAV ITEMS */
.nav-item {
  position: relative;
  margin-right: 25px;
  cursor: pointer;
}

.nav-item span {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.nav-item i {
  margin-right: 8px;
  font-size: 14px;
}

.fa-caret-down {
  margin-left: 6px;
  font-size: 12px;
}

/* DROPDOWN MENU */
.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: white;
  color: #333;
  min-width: 180px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 12px 15px;
  font-size: 14px;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}



/* RIGHT SIDE DROPDOWN */
.dropdown-menu.right {
  right: 0;
  left: auto;
}

.nav-right .nav-item {
  margin-right: 0;
}

/* B */

/* MAIN CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

/* DOCUMENT */
.document {
  background: white;
  width: 700px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.document h3 {
  text-align: right;
  margin-bottom: 30px;
}
.document hr {
  margin: 20px 0;
}

/* BUTTONS */
.actions {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.btn .primary {
  padding: 10px 26px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.primary {
  background: #0075c9;
  color: white;
}

.secondary {
  background: #d9d9d9;
  color: #333;
}

.address {
  text-align: right;
  font-size: 13px;
  color: #555;
  margin-bottom: 0px;
   line-height: 0.1;
}

.offer {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #777;
  margin-top: 30px;
}

.logo {
  /* position: absolute; */
  top: 40px;
  left: 40px;
  height: 60px;
  width: auto;
}
