* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
}

/* NAV BAR */
.navbar {
  background: #e0e0e0;
  padding: 12px 24px;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

/* DOCUMENT */
.document {
  background: white;
  width: 700px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.document h3 {
  text-align: center;
  margin-bottom: 30px;
}
.document hr {
  margin: 20px 0;
}

/* BUTTONS */
.actions {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 26px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

primary {
  background: #0075c9;
  color: white;
}

.secondary {
  background: #d9d9d9;
  color: #333;
}


